.manage-handbook-container{
    padding: 10px;

    .ms-title{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        color: #0071ba;
        margin-bottom: 15px;
    }

    .add-new-handbook{

        .btn-save-handbook{

        }
    }
}