.user-redux-container{
    padding: 10px;

    .preview-img-container{
        display: flex;
        width: 300px;

        .label-upload{
            padding: 10px;
            border-radius: 3px;
            background-color: #ddd;
            cursor: pointer;
            height: 38px;

            i{
                margin-left: 3px;
            }

            &:hover{
                opacity: 0.8;
            }
        }

        .preview-image{
            height: 100px;
            width: 120px;
            border: 1px solid grey;
            background: center center no-repeat;
            background-size: cover;
            cursor: pointer;
            margin-left: 24px;
        }
    }
}
