.verify-container{
    border-top: 1px solid #eee;

    .verify-img-success{
        margin: 10px auto;
        height: 800px;
        width: 1300px;
        background-image: url('../../assets/verify-success.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .verify-img-err{
        margin: 10px auto;
        height: 800px;
        width: 1300px;
        background-image: url('../../assets/verify-error.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

